﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BenFattoLogLog - Desafio Técnico Ben Fatto</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-table/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <header class="blog-header py-3">
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-4 pt-1">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img class="navbar-brand-img" src="~/img/logo.svg" alt="BenFattoLog"></a>
                </div>
                <div class="col-2 text-center">

                </div>
                <div class="col-6 d-flex justify-content-end align-items-center">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <nav class="nav d-flex justify-content-between navbar-expand-lg">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <a class="p-2 text-muted nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Início</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="p-2 text-muted nav-link  text-dark dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Logs
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item text-muted text-dark" asp-area="" asp-controller="Home" asp-action="ManualLog">Entrada de Log Manual</a>
                                        <a class="dropdown-item text-muted text-dark" asp-area="" asp-controller="Home" asp-action="ImportacaoLog">Importação de Arquivo</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item text-muted text-dark" asp-area="" asp-controller="Home" asp-action="BuscaLog">Pesquisa de Logs</a>
                                    </div>
                                </li>
                            </ul>
                        </nav>

                    </div>
                </div>
            </div>
        </header>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - BenFattoLog
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery.inputmask/jquery.inputmask.min.js"></script>
    <script src="~/lib/jquery.inputmask/bindings/inputmask.binding.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/font-awesome/js/all.js"></script>
    <script src="~/lib/tableexport.jquery.plugin//tableExport.min.js"></script>
    <script src="~/lib/bootstrap-table/dist/bootstrap-table.min.js"></script>
    <script src="~/lib/bootstrap-table/dist/bootstrap-table-locale-all.min.js"></script>
    <script src="~/lib/bootstrap-table/dist/extensions/export/bootstrap-table-export.min.js"></script>
    <script src="~/lib/moment/min/moment.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
