<div class="card">
    <div class="card-header">
        Consulta de Logs
    </div>
    <div class="card-body">
        <div>
            <div class="row">
                <div class="col-md-2">
                    <label for="validationTooltip01">IP</label>
                    <input type="text" class="form-control" id="ipAddress" data-inputmask="'alias': 'ip'" required>
                </div>
                <div class="col-md-3">
                    <label for="validationTooltip02">Data da Inicial</label>
                    <input type="text" class="form-control" id="initialDate" required>
                </div>
                <div class="col-md-3">
                    <label for="validationTooltip02">Data da Final</label>
                    <input type="text" class="form-control" id="finalDate" required>
                </div>
                <div class="col-md-4">
                    <label for="validationTooltip03">User-Agent</label>
                    <input type="text" class="form-control" id="userAgent">
                </div>
            </div>
            <div class="row mt-3 ali">
                <div class="col-lg-12">
                    <button id="pesquisar" type="button" class="btn btn-primary float-right">
                        <i class="fa fa-upload"></i> Pesquisar
                    </button>
                </div>
            </div>
            <div class="row ml-2">
                <div id="spinnersFileInput" class="d-none ml-3">
                    <div class="spinner-grow  spinner-grow-sm text-primary" role="status">
                        <span class="sr-only">Processando...</span>
                    </div>
                    <div class="spinner-grow  spinner-grow-sm text-primary" role="status">
                        <span class="sr-only">Processando...</span>
                    </div>
                    <div class="spinner-grow  spinner-grow-sm text-primary" role="status">
                        <span class="sr-only">Processando...</span>
                    </div>
                    <div class="spinner-grow  spinner-grow-sm text-primary" role="status">
                        <span class="sr-only">Processando...</span>
                    </div>
                    <div class="spinner-grow  spinner-grow-sm text-primary" role="status">
                        <span class="sr-only">Processando...</span>
                    </div>
                    <div class="spinner-grow  spinner-grow-sm text-primary" role="status">
                        <span class="sr-only">Processando...</span>
                    </div>
                    <span>Pesquisando...</span>
                </div>
            </div>
        </div>
        <table id="table"
               data-search="false"
               data-show-refresh="true"
               data-show-toggle="true"
               data-show-fullscreen="true"
               data-show-columns="true"
               data-show-columns-toggle-all="true"
               data-show-export="true"
               data-click-to-select="true"
               data-minimum-count-columns="2"
               data-show-pagination-switch="true"
               data-pagination="true"
               data-id-field="id"
               data-page-list="[10, 25, 50, 100, all]"
               data-show-footer="true"
               data-side-pagination="server"
               data-response-handler="responseHandler">
        </table>
    </div>
</div>

@section Scripts
{
    <script src="@Url.Content("~/js/views/home/consulta.log.js")"></script>
}
