<div class="card">
    <div class="card-header">
        Importação de Arquivo de Log
    </div>
    <div class="card-body">

        <div id="toolbar">
            <div class="row ml-2">
                <div class="custom-file mb-3">
                    <input type="file" class="custom-file-input" id="arquivoLogImportacao">
                    <label id="labelArquivoLogImportacao" class="custom-file-label" for="validatedCustomFile">Escolha o arquivo...</label>
                </div>
            </div>
            <div class="row ml-2">
                <button id="enviar" type="button" class="btn btn-primary btn-success btn-dark" id="enviar">
                    <i class="fa fa-upload"></i> Enviar
                </button>
                <div id="spinnersFileInput" class="d-none ml-3">
                    <div class="spinner-grow  spinner-grow-sm text-primary" role="status">
                        <span class="sr-only">Processando...</span>
                    </div>
                    <div class="spinner-grow  spinner-grow-sm text-primary" role="status">
                        <span class="sr-only">Processando...</span>
                    </div>
                    <div class="spinner-grow  spinner-grow-sm text-primary" role="status">
                        <span class="sr-only">Processando...</span>
                    </div>
                    <div class="spinner-grow  spinner-grow-sm text-primary" role="status">
                        <span class="sr-only">Processando...</span>
                    </div>
                    <div class="spinner-grow  spinner-grow-sm text-primary" role="status">
                        <span class="sr-only">Processando...</span>
                    </div>
                    <div class="spinner-grow  spinner-grow-sm text-primary" role="status">
                        <span class="sr-only">Processando...</span>
                    </div>
                    <span>Processando...</span>
                </div>
            </div>
        </div>
        <table id="table"
               data-toolbar="#toolbar"
               data-search="true"
               data-show-refresh="true"
               data-show-toggle="true"
               data-show-fullscreen="true"
               data-show-columns="true"
               data-show-columns-toggle-all="true"
               data-show-export="true"
               data-click-to-select="true"
               data-minimum-count-columns="2"
               data-show-pagination-switch="true"
               data-pagination="true"
               data-id-field="id"
               data-page-list="[10, 25, 50, 100, all]"
               data-show-footer="true"
               data-side-pagination="server"
               data-response-handler="responseHandler">
        </table>
    </div>
</div>

@section Scripts
{
    <script src="@Url.Content("~/js/views/home/importacao.log.js")"></script>
}
