﻿<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <h1 class="display-4 font-italic">Desafio Técnico .NET Ben Fatto</h1>
    <div class="col-md-6 px-0">
        <p class="lead my-3">Escrever uma aplicação .NET que tenha como objetivo, fazer upload de arquivo de log e popular o banco de dados.</p>
    </div>
</div>
