<div class="card">
    <div class="card-header">
        Cadastro de Log Manual
    </div>
    <div class="card-body">

        <div id="toolbar">
            <button id="add" type="button" class="btn btn-primary btn-success btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <i class="fa fa-plus"></i> Adicionar
            </button>
            <button id="remove" type="button" class="btn btn-danger" disabled>
                <i class="fa fa-trash"></i> Excluir
            </button>
        </div>
        <table id="table"
               data-toolbar="#toolbar"
               data-search="true"
               data-show-refresh="true"
               data-show-toggle="true"
               data-show-fullscreen="true"
               data-show-columns="true"
               data-show-columns-toggle-all="true"
               data-show-export="true"
               data-click-to-select="true"
               data-minimum-count-columns="2"
               data-show-pagination-switch="true"
               data-pagination="true"
               data-id-field="id"
               data-page-list="[10, 25, 50, 100, all]"
               data-show-footer="true"
               data-side-pagination="server"
               data-url="https://localhost:44386/api/log"
               data-response-handler="responseHandler">
        </table>
    </div>
</div>


<!-- Modal -->

<div class="modal fade" id="manualLogModal" tabindex="-1" aria-labelledby="-->Label" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="manualLogModalLabel">Cadastro de Log Manual</h5>
                <button type="button" id="closeModalTitle" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="validationTooltip01">IP</label>
                        <input type="text" class="form-control" id="ip" data-inputmask="'alias': 'ip'">
                        <div class="valid-tooltip">
                            O Casmpo IP é necessário!
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="validationTooltip02">Data da Ocorrência</label>
                        <input type="text" class="form-control" id="occurenceeDate">
                        <div class="valid-tooltip">
                            Looks good!
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="validationTooltip04">Verbo HTTP</label>
                        <select class="custom-select" id="httpVerb">
                            <option selected value="">GET</option>
                            <option value="">POST</option>
                            <option value="">PUT</option>
                            <option value="">DELETE</option>
                        </select>
                        <div class="invalid-tooltip">
                            Please select a valid state.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="validationTooltip03">Endereço</label>
                        <input type="text" class="form-control" id="accessLog">
                        <div class="invalid-tooltip">
                            Please provide a valid city.
                        </div>
                    </div>
                    <div class="col-md-2 mb-3">
                        <label for="validationTooltip04">Protocolo HTTP</label>
                        <select class="custom-select" id="httpProtocol">
                            <option selected value="">HTTP/1.0</option>
                            <option value="">HTTP/1.1</option>
                            <option value="">HTTP/2.0</option>
                        </select>
                        <div class="invalid-tooltip">
                            Please select a valid state.
                        </div>
                    </div>
                    <div class="col-md-2 mb-3">
                        <label for="validationTooltip05">Resposta HTTP</label>
                        <input type="text" class="form-control" id="httpResponse">
                        <div class="invalid-tooltip">
                            Informe a Resposta HTTP Correta.
                        </div>
                    </div>
                    <div class="col-md-2 mb-3">
                        <label for="validationTooltip05">Porta</label>
                        <input type="text" class="form-control" id="port">
                        <div class="invalid-tooltip">
                            Informe a Porta Correta.
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="closeModal" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <button type="button" id="saveModal" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="@Url.Content("~/js/views/home/manual.log.js")"></script>
}
